* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(212, 25, 25);
}
.header{
    font-size: 48px;
    color: #000000;
    z-index: 10;
    background-color: rgb(231, 75, 23);
    padding: 10px;
    border-style: solid;
    
}
.list {
    list-style: square;
    font-size: 20px;
    background-color: rgb(250, 224, 215);
    opacity: 0.8;
    margin-left: 400px;
    margin-right: 400px;
    position: relative;
    z-index: 10;
    border-style: solid;
    text-align: center;
}

img {
    border-style: solid;
}
.background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("backgroundfood.png");
    filter: contrast(7%);
    z-index: -1;
}